body {
    font-size: .875rem;
    
  }
  

 


 
  .form-item-img {
    margin-top: 10%;
 
  }

 .form-item-img img {
   width: 150px;
   border: 1px slategrey solid;
   cursor: pointer;
   
 }


 .image-table {
   width: 50px;
   height: 50px;
 }
 .bid-button-style {
   margin-top: 20px;
 }

 .ul-style {
cursor: pointer;
 }

 .icon-danger {
color: red;
 }

 .icon-primary {
color: blue;
 }

 .container {
   background-color: white!important;
 }

 
.error-message{
  color:#E13526;
  position: absolute;
  padding-top: 8px;
  font-size: 0.9em;
  right: 0;
}

.footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #343A40;
  color: white;
}

