<div  class="container">
 <div class="row justify-content-center">
     

  <div class="col-6">
        <div class="card" *ngFor="let item of auctions; let i = index" style="width: 22rem; text-align: center; margin-top: 50px;">

                <!-- Card image -->
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">
              
                  <!-- Title -->
                  <h2 class="card-header-title">{{item.title}}</h2>
               
                <!-- Card content -->
                <div class="card-body card-body-cascade text-center">
                    <div class="row">
                      <ng-container *ngIf="item.deposit; else nodeposit">
                      <div class="col-6">Deposito: <strong>{{item.deposit}}</strong>  </div>
                      <div class="col-6">Ultima puja: <strong>{{item.price}}</strong></div>
                      </ng-container>

                      <ng-template #nodeposit>
                          <div class="col-12">Ultima puja: <strong>{{item.price}}</strong></div>
                      </ng-template>
                     
                      <br>
                      <div class="col-12" >Desde: <strong>{{item.startDate.date | date }}</strong>  </div>
                      <div class="col-12">Hasta: <strong>{{item.endDate.date | date}}</strong></div>

                      <div class="col-12 bid-button-style">  <label>Cantidad de la puja</label> 
                            <input type="text" name="bid_money" class="form-control" [(ngModel)]="bid_money" #money required>    
                            <button type="button" class="btn btn-success btn-block bid-button-style" (click)="bid(i)">Pujar</button>
                          
                      </div>

                    <div class="col-12 form-group bid-button-style" hidden #userchild>
                     <label>Username</label> 
                     <input type="text" name="user" class="form-control" [(ngModel)]="user">
                     <button type="button" class="btn btn-primary btn-block bid-button-style" (click)="setUser(i)">Crear usuario</button>
                    </div>



               </div>
              
                
                </div>
              </div>
            </div>

  </div>

 </div>   
<!-- Card -->







