<app-navbar></app-navbar>
 
<div class="container-fluid">
  <div class="row justify-content-center">
  

  
  
   
    <div class="col-md-10  col-lg-10">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>
<app-footer></app-footer>
