<div class="container">
  <div class="row justify-content-center">
    <div class="col-6" style="margin-top: 100px;">
      <fieldset class="form-group">
        <legend>DATA AUCTION</legend>
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
          <div class="form-group">
            <ng-container *ngIf="!title.valid && title.touched">
              <p *ngIf="title.errors.required" class="error-message">
                El titulo es obligatorio
              </p>
              <p *ngIf="title.errors.minlength" class="error-message">
                El titulo debe de tener mas de 3 letras
              </p>
            </ng-container>
            <label for="exampleInputEmail1">TITLE</label>
            <input
              #title="ngModel"
              type="text"
              class="form-control"
              name="title"
              [(ngModel)]="data.title"
              placeholder="Enter title"
              required
              minlength="3"
            />
          </div>

          <div class="form-group">
           
            <label for="exampleInputEmail1">START DATE</label>
            <input
              #startDate
              type="date"
              class="form-control"
              name="startDate"
              [(ngModel)]="data.startDate"
              required
            />
          </div>

          <div class="form-group">
          
            <label for="exampleFormControlTextarea1">END DATE</label>
            <input
              type="date"
              class="form-control"
              name="endDate"
              [(ngModel)]="data.endDate"
              required
            />
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">TYPE</label>
            <select
              [(ngModel)]="data.type"
              (change)="openType()"
              class="form-control"
              name="type"
            >
              <option [value]="undefined">Selecciona una opcion</option>
              <option value="regular">Regular</option>
              <option value="special">Especial</option>
            </select>
          </div>

          <div class="form-group" #deposit hidden>
            <ng-container *ngIf="!_deposit.valid && _deposit.touched">
              <p *ngIf="_deposit.errors.required" class="error-message">
                El deposito es obligatorio
              </p>
              <p *ngIf="_deposit.errors.number" class="error-message">
                El deposito debe ser un numero   
             </p>

            
            </ng-container>
            <label for="exampleInputEmail1">DEPOSIT</label>
            <input
              #_deposit="ngModel"
              type="number"
              class="form-control"
              name="deposit"
              [(ngModel)]="data.deposit"
              placeholder="Enter deposit"
            
            />
          </div>

          <div class="form-group">
            <ng-container *ngIf="!price.valid && price.touched">
              <p *ngIf="price.errors.required" class="error-message">
                El precio es obligatorio
              </p>
              <p *ngIf="price.errors.number" class="error-message">
                El precio debe ser un numero
              </p>
            </ng-container>
            <label for="exampleInputEmail1">PRICE</label>
            <input
              #price="ngModel"
              type="number"
              class="form-control"
              name="price"
              [(ngModel)]="data.price"
              placeholder="Enter price"
              required
            />
          </div>
          <div class="form-group float-right">
            <button
              type="button"
              class="btn btn-danger"
              [routerLink]="['/auction/list']"
              routerLinkActive="router-link-active"
              style="margin-right: 10px;"
            >
              Cancel
            </button>
            <button
              type="submit"
              [disabled]="f.invalid"
              class="btn btn-primary"
            >
              Submit
            </button>
          </div>
        </form>
      </fieldset>
    </div>
  </div>
</div>
