<div class="container">
  <div class="table-responsive">
   <table class="table table-striped table-sm">
     <thead>
       <tr>
         <th>Title</th>
         <th>Price</th>
         <th>Deposit</th>
         <th>StartDate</th>
         <th>EndDate</th>
         <th>Actions</th>
       </tr>
     </thead>
     <tbody>
       <tr *ngFor="let item of feeds">
         <td>{{item.title}}</td>
         <td>{{item.price}}</td>
         <td>{{item.deposit}}</td>
         <td>{{item.startDate.date | date}}</td>
         <td>{{item.endDate.date | date }}</td>
         <td>
           <ul class="list-unstyled list-inline ul-style">
           <li (click)="delete(item.id)" class="list-inline-item"><i class="fa fa-trash icon-danger"></i></li> 
           <li [routerLink]="['../add', item.id]" routerLinkActive="router-link-active"  class="list-inline-item"><i class="fa fa-pencil icon-primary"></i></li>
          </ul></td>
       </tr>
     
     </tbody>
   </table>
 </div>
</div>

